@import"./reset.css";
@import url('https://fonnt.googleapis.com/css2?family=Poppins:wght@300,400,500,600&diplay=swap');
/* @import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,italic,500,600); */


body {
  font-family: 'poppins', sans-serif;
}

.container


.header {
  padding: 32px 0 100px;
  height: 800px;
  background-color: black;
  background-image: url(../img/header/header-bg.jpg);
  color: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 0 0 54px 54px;
}

.header a {
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1376px;
  padding: 0 32px;

}

.container--header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo{
  flex-shrink: 0;
}

/* nav */


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav-list */

.nav-list {
  display: flex;
  column-gap: 54px;
  

}

.nav-list__link{
  opacity: 0.7;
}

.nav-list__link--active{
  opacity: 1;
}

/* user */

.user {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.user__content {

}
.user__hello {

}
.user__name {

}
.user__avatar {

}

.user__img {
  border-radius: 50%;
}

.midle{
  margin: 0 auto;
}
